{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<main class="container_fluid">
    <h5 style="margin-left: 30%">Bienvenue ! </h5>
    <p class="text-center" style="width:80%; margin: 10%">Bienvenue sur notre site de vente de chaussures
        rares et uniques !
        Nous
        sommes
        fiers de vous
        offrir une
        sélection
        exclusive de chaussures de qualité supérieure, conçues par les marques les plus prestigieuses du
        marché. Que
        vous
        soyez
        à la recherche de sneakers tendance, de bottes élégantes ou de sandales estivales, vous
        trouverez
        ici des
        modèles
        uniques qui ne manqueront pas de faire tourner les têtes. Notre équipe passionnée se tient à
        votre
        disposition
        pour
        vous
        conseiller et vous aider à trouver la paire de chaussures rare qui conviendra parfaitement à
        votre
        style et à
        votre
        personnalité. Commandez dès maintenant et offrez à vos pieds le confort et l'élégance qu'ils
        méritent !</p>
</main>
{% endblock %}