/* **********************************    RESET    *****************************************  */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* **********************************    GLOBAL   *****************************************  */
* {
  font-family: "Neuton", serif;
}

h1,
h2,
h3,
h5 {
  font-weight: 700;
  font-family: "Maven Pro", sans-serif;
}

/* **********************************    HEADER   *****************************************  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.384);
  font-size: 1.15vw;
}

header i {
  height: 35px;
}
header li {
  margin-right: 35px;
}

.hello {
  margin-left: 9%;
  font-family: "Maven Pro", sans-serif;
  font-size: 3.5vw;
}

/* **********************************     MAIN    *****************************************  */

.homeContainer {
  height: 100%;
  width: 100%;
  height: 100%;
  padding-bottom: 10vh;
  padding-top: 8%;
}

.presentationContainer {
  display: flex;
  margin-bottom: 5%;
}
.presentationContainer .text {
  margin-top: 5vh;
  margin-left: 9%;
  font-size: 1vw;
  font-weight: 700;
  width: 30%;
}

.lastProduct {
  margin-left: 3%;
}

.lastProduct img {
  margin-left: 3%;
  width: 90vh;
  height: 45vh;
}

.lastProduct h1 {
  margin-left: 3%;
}

.lastProduct p {
  text-align: center;
  font-family: "Neuton", serif;
  font-size: 1.5vw;
}

.lastProduct a{
  margin: 3%;
  width: 30%;
  font-family: "Neuton", serif;
  font-size: 1vw;
}

.newsletter {
  margin: 5%;
}

.newsletter p {
  font-size: 2.5vw;
  font-family: "Neuton", serif;
  font-weight: bolder;
  text-align: center;
}

.newsletter span {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.575);
  text-align: center;
}

.newsletter form {
  margin-top: 3%;
}

.tryptique {
  margin-top: 5vh;
  width: 95%;
  margin-left: 2.5%;
}

/* **********************************    FOOTER   *****************************************  */

footer ul {
  padding: 0;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer #copyright p {
  font-size: 1.9vw;
}

/* **********************************   ALL PRODUCT PAGE CSS   *****************************************  */

.product-img {
  margin-bottom: 15px;
}

.col-3 {
  height: 350%;
}

/* **********************************   CARDS PRODUCT PAGE CSS   *****************************************  */

.showAll {
  margin-top: 10vh;
}

/* **********************************   Cart   *****************************************  */

.cart {
  margin-top: 10vh;
  margin-bottom: 20%;
}

.cart h1 {
  margin-bottom: 2vh;
}

/* **********************************   CONNECTION PAGE   *****************************************  */

.connect {
  margin-top: 10vh;
  text-align: center;
}

.connect label {
  font-size: 1.5vw;
}
.connect input {
  width: 15vw;
  margin-left: 43%;
  margin-bottom: 2%;
}

.creaAccount {
  width: 80%;
  margin-left: 15%;
  margin: 5%;
}

.creaAccount p,
a {
  font-size: 1.5vw;
  font-family: "Neuton", serif;
}

/* **********************************   REGISTER PAGE   *****************************************  */

.registerTitle {
  margin-top: 10vh;
  text-align: center;
}

.registerForm {
  width: 20vw;
  margin-left: 43%;
  margin-bottom: 2%;
}

.registerForm label {
  font-size: 1.5vw;
  font-family: "Neuton", serif;
}


/* **********************************   CREATE PRODUCT PAGE   *****************************************  */


.productFormTitle {
    margin-top: 10vh;
    text-align: center;
  }
  
  .productForm{
    margin-left: 35%;
  }
  .productForm label {
    font-size: 1.5vw;
    width: 25vh;
  }
  .productForm input {
    margin-bottom: 2%;
    width: 65vh;

  }

  .productFormDescription textarea{ 
    width: 65vh;
    height: 10vw;
  }

   .buttons{
    margin-right: 55%;
  }

@media screen and (max-width: 990px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 1;
    background-color: transparent;
    font-size: 1.15vw;
  }
  header i {
    height: 35px;
  }
  header li {
    background-color: rgba(0, 0, 0, 0.445);
    text-align: center;
  }

  .product-img {
    margin-bottom: 10px;
    width: 170px;
    height: 100px;
  }

  .card-body {
    height: 300px;
  }

  .col-3 {
    margin: 0;
  }

  footer {
    margin-top: 15%;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* **********************************   Purchase PAGE   *****************************************  */

.purchase{ 

  margin-top: 10%;
  padding-bottom: 10%;
}

.purchase h1 { 
  margin-left: 5%;
} 
.purchaseSelector{ 
  margin-left: 5%;
  width: 25%;
}
.purchaseLink{ 
  margin-left: 5%;

}