/* **********************************    RESET    *****************************************  */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* **********************************    GLOBAL   *****************************************  */
* {
  font-family: "Neuton", serif;
}

h1,
h2,
h3,
h5 {
  font-weight: 700;
  font-family: "Maven Pro", sans-serif;
}

/* **********************************    HEADER   *****************************************  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.384);
  font-size: 1.15vw;
}

header i {
  height: 35px;
}
header li {
  margin-right: 35px;
}

.hello {
  margin-left: 9%;
  font-family: "Maven Pro", sans-serif;
  font-size: 3.5vw;
}

@media screen and (max-width: 870px) {
  header {
    width: fit-content;
    display: flex;
    margin: 0;
  }

  .hello {
    margin-left: 13%;
  }
}

/* **********************************     MAIN    *****************************************  */

.homeContainer {
  height: 100%;
  width: 100%;
  height: 100%;
  padding-bottom: 10vh;
  padding-top: 8%;
}

.presentationContainer {
  display: flex;
  margin-bottom: 5%;
}
.presentationContainer .text {
  margin-top: 5vh;
  margin-left: 9%;
  font-size: 1vw;
  font-weight: 700;
  width: 30%;
}

.lastProduct {
  margin-left: 3%;
}

.lastProduct img {
  margin-left: 3%;
  width: 90vh;
  height: 45vh;
}

.lastProduct h1 {
  margin-left: 3%;
}

.lastProduct p {
  text-align: center;
  font-family: "Neuton", serif;
  font-size: 1.5vw;
}

.lastProduct a {
  margin: 3%;
  width: 30%;
  font-family: "Neuton", serif;
  font-size: 1vw;
}

.newsletter {
  margin: 5%;
}

.newsletter p {
  font-size: 2.5vw;
  font-family: "Neuton", serif;
  font-weight: bolder;
  text-align: center;
}

.newsletter span {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.575);
  text-align: center;
}

.newsletter form {
  margin-top: 3%;
}

.tryptique {
  margin-top: 5vh;
  width: 95%;
  margin-left: 2.5%;
}

@media screen and (max-width: 870px) {
  .homeContainer {
    padding: 0;
  }
  .lastProduct img {
    margin-left: 3%;
    width: 20vh;
    height: 20vh;
  }
  .presentationContainer {
    display: flex;
    margin-bottom: 3%;
  }
  .presentationContainer .text {
    margin-top: 5vh;
    margin-left: 9%;
    font-size: 2vw;
    font-weight: 700;
    width: 30%;
  }

  .newsletter {
    margin: 3%;
  }
}

/* **********************************    FOOTER   *****************************************  */

footer ul {
  padding: 0;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer #copyright p {
  font-size: 1.9vw;
}

/* **********************************   ALL PRODUCT PAGE CSS   *****************************************  */

.product-img {
  margin-bottom: 15px;
}

.col-3 {
  height: 350%;
}

/* **********************************   CARDS PRODUCT PAGE CSS   *****************************************  */

.showAll {
  margin-top: 10vh;
}

/* **********************************   CART   *****************************************  */

.cart {
  margin-top: 10vh;
  margin-bottom: 20%;
}

.cart h1 {
  margin-bottom: 2vh;
}

.cart img {
  height: 20%;
  width: 20%;
}
/* **********************************   CONNECTION PAGE   *****************************************  */

.connect {
  margin-top: 10vh;
  text-align: center;
}

.connect label {
  font-size: 1.5vw;
}
.connect input {
  width: 15vw;
  margin-left: 43%;
  margin-bottom: 2%;
}

.creaAccount {
  width: 80%;
  margin-left: 15%;
  margin: 5%;
}

.creaAccount p,
a {
  font-size: 1.5vw;
  font-family: "Neuton", serif;
}

.connect .rememberCheckbox {
  display: flex;
  padding: 0;
  margin: 0; 
  margin-left: 49%;
  margin-top: -1.3%;
}

/* **********************************   REGISTER PAGE   *****************************************  */

.registerTitle {
  margin-top: 10vh;
  text-align: center;
}

.registerForm {
  width: 20vw;
  margin-left: 43%;
  margin-bottom: 2%;
}

.registerForm label {
  font-size: 1.5vw;
  font-family: "Neuton", serif;
}

/* **********************************   PRODUCT PAGE   *****************************************  */

.description p {
  width: 10px;
}

/* **********************************   CREATE PRODUCT PAGE   *****************************************  */

.productFormTitle {
  margin-top: 10vh;
  text-align: center;
}

.productForm {
  margin-left: 35%;
}
.productForm label {
  font-size: 1.5vw;
  width: 25vh;
}
.productForm input {
  margin-bottom: 2%;
  width: 65vh;
}

.productFormDescription textarea {
  width: 65vh;
  height: 10vw;
}

.buttons {
  margin-right: 55%;
}

.form-check input {
  width: 15px;
}
.form-check label {
  font-size: medium;
}

@media screen and (max-width: 990px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 1;
    background-color: transparent;
    font-size: 1.15vw;
  }
  header i {
    height: 35px;
  }
  header li {
    background-color: rgba(0, 0, 0, 0.445);
    text-align: center;
  }

  .card-body {
    height: 300px;
  }

  .col-3 {
    margin: 0;
  }

  footer {
    margin-top: 15%;
    /* position: fixed; */
    height: 25%;
    bottom: 0;
    width: 100%;
  }
}

/* **********************************   Purchase PAGE   *****************************************  */

.purchase {
  margin-top: 10%;
  padding-bottom: 10%;
}

.purchase h1 {
  margin-left: 5%;
}
.purchaseSelector {
  margin-left: 5%;
  width: 25%;
}
.purchaseLink {
  margin-left: 5%;
}

@media screen and (max-width: 870px) {
  .purchase h1 {
    margin-left: 17%;
  }
}
/* **********************************   Mobile mode   *****************************************  */

@media screen and (max-width: 670px) {
  
  .cartImage{
    display: none;
  }

  .nav-item a{ 
    font-size: 15px;
  }

  .homeContainer {
    padding: 5%;
    margin-top: 20%;
  }
  .lastProduct img {
    margin-left: 3%;
    width: 20vh;
    height: 20vh;
  }
  .presentationContainer {
    display: flex;
    margin-bottom: 3%;
  }
  .presentationContainer .text {
    margin-top: 5vh;
    margin-left: 9%;
    font-size: 2vw;
    font-weight: 700;
    width: 40%;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    z-index: 1;
    background-color: transparent;
    font-size: 1.5vw;
  }

  header li {
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
  }

  header button {
    margin-left: 65%;
    margin-top: 5%;
  }

  .product-img {
    width: 100%;
  }

  .card-body {
    height: 300px;
  }

  .col-3 {
    margin: 0;
  }

  footer {
    margin-top: 15%;
    height: 25%;
    bottom: 0;
    width: 100%;
    font-size: 1vw;
  }
  footer h5 {
    font-size: 2vw;
  }

  .connect input{ 
    width: 30%;
    margin-left: 35%;
  }
  .connect label{ 
    font-size: 20px;
    text-align: center;
  }
  .connect .rememberCheckbox{ 
    display: none;
  }
  .creaAccount p{ 
    font-size: 15px;
  }
  .creaAccount a{ 
    font-size: 15px;
  }

  .registerForm{ 
    margin: 0;
    width: 100vw;
  }

  .registerForm p{
    font-size: 2.5vw;
  } 

  .registerForm input{ 
    width: 80vw;
    margin-left: 10%;
  }

  .registerForm label{ 
    font-size: 20px;
    margin-left: 10%;
  }

  .registerForm button{
    margin-right: 25%;
  }

  .form-check input{ 
    width: 15px;
    margin-left: 10%;
  }
  .form-check { 
    margin-left: 10%;
  }
}
