{# templates/purchase/shoe.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="purchase">
		<h1>Séléctionnez votre taille</h1>
		{{ form_start(form) }}
		<div class="purchaseSelector">
			{{ form_row(form.selectedSize, {
            }) }}
		</div>
		<a class="btn btn-success purchaseLink" href="{{ path('cart_add', {'id':product.id}) }}">Ajouter au panier</a>


		{{ form_end(form) }}
	</div>

{% endblock %}
