{# templates/purchase/shoe.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="purchase py-5">
		<h1>Séléctionnez votre taille</h1>
		{{ form_start(form) }}
		<div class="purchaseSelector">
			{{ form_row(form.selectedSize, {
            }) }}
		</div>

		<button class="btn btn-success purchaseLink">Ajouter au panier</button>


		{{ form_end(form) }}
	</div>

{% endblock %}
