{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<div class="container">

    <div class="row my-5">
        <div class="col-12 text-center">
            <h1> Produits </h1>
        </div>
    </div>

    <div class="row my-5">

        {% for user in users |reverse %}
        {% if loop.index < 16 %} <div class="col-3 p-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ user.name |upper}}</h5>
                    <p class="card-text">{{ user.firstname}}</p>
                    <p class="card-text">{{ user.kind[0]}} </p>
                    <a href="{{path('user_detail' , {'email' : user.email}) }}" class="btn btn-primary">See</a>
                </div>
            </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

</div>
{% endblock %}